<mui-spinner *ngIf="_showSpinner"></mui-spinner>

<mui-view-header title="Create Azure Subscription">
</mui-view-header>

<div class="row" *ngIf="viewModel">
  <div class="col s12">
    <p>Enter the following details to create a new Azure Subscription.</p>
    <form #subscriptionForm="ngForm">
      <div class="row">
        <mui-text-box class="col s12" label="Name" name="name" required [(ngModel)]="viewModel.name"></mui-text-box>
      </div>
    </form>
    <button class="btn" [disabled]="!subscriptionForm.valid" (click)="_onSave()">Save</button>
  </div>
</div>
