<mui-view-header title="Edit Payer Account">
</mui-view-header>

<div class="row" *ngIf="viewModel">

    <mui-card class="col s12">
        <mui-card-content title="Base Data">
            <p>Enter base data of the payer account in the form below.</p>
            <form #baseDataForm="ngForm">
                <div class="row">
                  <mui-text-box class="col s12" name="costCenter" label="Cost Center" required [(ngModel)]="viewModel.baseData.costCenter"></mui-text-box>
                  <mui-text-box class="col s12" name="profitCenter" label="Profit Center" required [(ngModel)]="viewModel.baseData.profitCenter"></mui-text-box>
                  <mui-text-box class="col s12" name="costCenterResponsiblePrincipalName" label="Cost Center Responsible Principal Name" required [(ngModel)]="viewModel.baseData.costCenterResponsiblePrincipalName"></mui-text-box>
                  <mui-text-box class="col s12" name="controllingContactPrincipalName" label="Controlling Contact Principal Name" required [(ngModel)]="viewModel.baseData.controllingContactPrincipalName"></mui-text-box>
                </div>
            </form>
            <button class="btn" [disabled]="!baseDataForm.valid" (click)="_onSave(viewModel.baseData)">Save</button>
        </mui-card-content>
    </mui-card>

</div>