<mui-view-header title="Tenants">
  <mui-view-header-action *ngIf="viewModel" actionName="New" iconName="add" [routerLink]="['/tenants/create', viewModel._links.createTenantVm.href]"></mui-view-header-action>
</mui-view-header>

<div class="row" *ngIf="viewModel">
  <mui-card class="col s12 m6 l4 xl3" *ngFor="let tenantVm of viewModel.tenants" [routerLink]="['/tenants/show', tenantVm._links.displayTenantVm.href]">
    <mui-card-content [title]="tenantVm.baseData.name">
      <p>{{ tenantVm.baseData.description }}</p>
      <div class="row">
        <mui-card-content-metric class="col m6" title="Cloud Accounts">
          {{ tenantVm.cloudAccountCount }}
        </mui-card-content-metric>
      </div>
    </mui-card-content>
  </mui-card>
</div>